<h3>Create A New Landmark</h3>
<br>
<form action="/landmarks" method="POST">
	<input type="text" name="landmark[name]" id="landmark_name" value="Landmark Name"><br>
	<input type="text" name="landmark[year_completed]" id="landmark_year_completed" value="Year Created"><br>
	<input type="submit" value="Create" id="Create New Landmark">
</form>